@model HLGranite.Mvc.Models.Nisan
<script>
    function setStatus(status) {
        status = status.toLowerCase();
        // TODO: Fail $(this).css("background", "#ccc");
        $("#StatusId option").each(function () {
            if ($(this).html().toLowerCase() == status) {
                $(this).attr("selected", true);
                return;
            }
        });
    }

    $(function () {

        $("#edit").click(function () {
            $(this).css("background", "#ccc");            
            enableAll();
            //$(".keyboardInputInitiator").bind('click');
        });

        $("#design").click(function() {
            var assignee = $("#login a").html().trim();
            $("#AssigneeId option").each(function(i, option) {
                if ($(option).text().trim() == assignee) {
                    $(option).attr("selected", "selected");
                    return;
                }
            });
        });
    });
</script>

@functions{
    public string toLower(string sender)
    {
        return sender.ToLower();
    }
}

<p>
    @{
        HLGranite.Mvc.Models.hlgraniteEntities db = new HLGranite.Mvc.Models.hlgraniteEntities();
        HLGranite.Mvc.Models.User user = db.Users.Where(u => u.UserName == User.Identity.Name).FirstOrDefault();
        bool isCustomer = true;
        if (user != null)
        {
            isCustomer = user.IsCustomer;
        }

        short submit = db.Statuses.Where(s => s.StockTypeId == HLGranite.Mvc.Models.StockType.NISAN_TYPE_ID && s.Name == "Submit").First().Id;
        if (isCustomer && Model.StatusId > submit)
        {
            return;
        }
        
        if(Model.StatusId > 0)
        {
            <input id="edit" type="button" value="Edit" />
        }

        var statuses = db.Statuses.Where(s => s.StockTypeId == HLGranite.Mvc.Models.StockType.NISAN_TYPE_ID);
        int i = 0;
        foreach (var status in statuses)
        {            
            if(i==2)
            {
                if(Model.StatusId == 0)
                {
                    break;
                }
                
                if(isCustomer)
                {
                    break;
                }
            }
            
            if (status.Id == Model.StatusId)
            {
                <input id="@toLower(status.Name)" type="submit" value="@status.Name" style="background: #ccc");" />
            }

            if (status.Id > Model.StatusId)
            {
                <input id="@toLower(status.Name)" type="submit" value="@status.Name" onclick="setStatus('@status.Name');" />
            }
            i++;
        }
    }
</p>
