@model HLGranite.Mvc.Models.Nisan
<script>
    function setStatus(status) {
        //$(this).css("background", "#ccc");
        $("#StatusId option").each(function () {
            //console.log($(this).html());
            if ($(this).html() == status) {
                $(this).attr("selected", true);
                return;
            }
        });
    }

    $(function () {
        $("#edit").click(function () {
            $(this).css("background", "#ccc");
            $("#body input").each(function () {
                $(this).removeAttr("readonly");
            });
            $("#body textarea").each(function () {
                $(this).removeAttr("readonly");
            });
        });
    });
</script>

<p>
    @{
        if(Model.StatusId > 0)
        {
            <input id="edit" type="button" value="Edit" />
        }
        
        var statuses = new HLGranite.Mvc.Models.hlgraniteEntities().Statuses.Where(s => s.StockTypeId == HLGranite.Mvc.Models.StockType.NISAN_TYPE_ID);
        int i = 0;
        foreach (var status in statuses)
        {
            if (Model.StatusId == 0 && i == 2)
            {
                break;
            }
            
            if (status.Id == Model.StatusId)
            {
                <input id="@status.Name" type="submit" value="@status.Name" style="background: #ccc");" />
            }

            if (status.Id > Model.StatusId)
            {
                <input id="@status.Name" type="submit" value="@status.Name" onclick="setStatus('@status.Name');" />
            }
            i++;
        }
    }
</p>
