@{
    ViewBag.Title = "Calendar";
}

<script>

    $(function () {

        //if ($("#Gregorian").val().length > 0) {
        //    var local = toLocalDate($("#Gregorian").val());
        //    $("#Gregorian").val(local);
        //}

        //if ($("#Muslim").val().length > 0) {
        //    var local = toLocalDate($("#Muslim").val());
        //    $("#LocalMuslim").val(local);
        //}

        $("#Date").datepicker({ dateFormat: "dd/mm/yy" });
    });
</script>

<h2>Calendar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @*@Html.EditorFor("Date", "Date")*@
    @*@Html.EditorFor("Muslim", "Muslim")*@

    <input id="Date" name="Date" value="@ViewBag.Date" /><br />
    <span>Gregorian</span><input id="Gregorian" name="Gregorian" type="text" value="@ViewBag.Gregorian" class="readonly" readonly="readonly" /><br />
    <span>Muslim:</span><input id="LocalMuslim" name="Muslim" type="text" value="@ViewBag.Muslim" class="readonly" readonly="readonly" />
    <input id="Muslim" name="Muslim" type="hidden" value="@ViewBag.Muslim" class="readonly" readonly="readonly" />
    <p>
        <input type="submit" value="Convert" />
    </p>    
}