@model HLGranite.Mvc.Models.Nisan

@{
    ViewBag.Title = "Edit";

    HLGranite.Mvc.Models.hlgraniteEntities db = new HLGranite.Mvc.Models.hlgraniteEntities();
    HLGranite.Mvc.Models.User user = db.Users.Where(u => u.UserName.Equals(User.Identity.Name)).FirstOrDefault();
    bool isAdmin = false; // default is false
    bool isCustomer = true; // default is true
    string visibility = "";
    if (user != null)
    {
        isAdmin = user.IsAdmin;
        isCustomer = user.IsCustomer;
    }

    if (isCustomer)
    {
        visibility = "hidden";
    }
}

@Styles.Render("~/Content/keyboard.css")
@Scripts.Render("~/Scripts/keyboard.js")
<script>

    function displayMuslimDate(muslim) {
        var splits = muslim.split('/');
        if (splits.length >= 3) {
            $("#MuslimDay").val(append(splits[0],2,"0"));
            $("#MuslimMonth option").each(function (i, option) {
                if (i == splits[1]) {
                    $(option).attr("selected", "selected");
                    return;
                }
            });
            $("#MuslimYear").val(splits[2]);
        }
    }

    function setMuslimDate(day, month, year) {
        if (day == null || month == null || year == null) {
            $("#Deathm").val("");
            return;
        }

        var splits = $("#Deathm").val().split('/');
        if (day > 0) splits[0] = append(day, 2, "0");
        if (month > 0) splits[1] = append(month, 2, "0");
        if (year > 0) splits[2] = year;
        $("#Deathm").val(splits[0] + "/" + splits[1] + "/" + splits[2]);
    }

    function getColor(stockName) {
        //console.log("Stock: " + stockName);
        if (stockName.toLowerCase().indexOf("batik") > -1) {
            return "blue";
        } else if (stockName.toLowerCase().indexOf("hijau") > -1) {
            return "green";
        } else if (stockName.toLowerCase().indexOf("putih") > -1
			|| stockName.toLowerCase().indexOf("marble") > -1) {
            return "gray";
        } else if (stockName.toLowerCase().indexOf("hitam") > -1) {
            return "black";
        }

        return "";
    }

    $(function () {

        $("#stock-label").addClass(getColor($("#StockId option:selected").text()));
        //var color = getColor($("#StockId option:selected").text());
        //$(".main-content").addClass(color);

        $("#Created").html(afterLocalTime($("#Created").html()));
        $("#LastUpdated").html(afterLocalTime($("#LastUpdated").html()));

        $("#Death").datepicker({ dateFormat: "dd/mm/yy" });
        $("#Death").change(function () {
            $.ajax({
                type: "POST",
                url: "/Nisan/Calendar",
                data: { 'date': $("#Death").val() },
                content: document.body,
                success: function (data) {
                    var muslim = $("#Muslim", data).val();
                    $("#Deathm").val(muslim);
                    displayMuslimDate(muslim);
                }
            });
        });

        displayMuslimDate($("#Deathm").val());
        $("#MuslimDay").change(function () {
            setMuslimDate($(this).val(), 0, 0);
        });
        $("#MuslimMonth").change(function () {
            setMuslimDate(0, $(this).val(), 0);
        });
        $("#MuslimYear").change(function () {
            setMuslimDate(0, 0, $(this).val());
        });

        $("#StockId").change(function () {
            var stockId = $(this).val();
            $.ajax({
                type: "GET",
                url: "/../Stock/Edit/" + stockId,
                content: document.body,
                success: function (data) {
                    var price = $("#Price", data).val();
                    $("#Price").val(price);
                }
            });
        });

        // http://www.ejawi.net/v3/index?e=converter
        $("#Rumi").change(function () {

            // validate stock type with decease gender
            var rumi = $("#Rumi").val();
            var stock = $("#StockId option:selected").text();
            validateNisanGender(rumi, stock);

            $.ajax({
                type: "POST",
                url: "/Nisan/Translate",
                data: { 'Rumi': $(this).val() },
                content: document.body,
                success: function (data) {
                    var jawi = $("#Jawi", data).val();
                    $("#Jawi").val(jawi);
                }
            });
        });

        // disable control when load
        // TODO: After disable always postback 0 for stock id
        //$("#StockId").prop("disabled", true);
        $("#DeathDP").prop("disabled", true);
        $("#MuslimMonth").prop("disabled", true);
        //$(".keyboardInputInitiator").unbind('click');
    });
</script>

<h2>Edit</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@functions{
    public string toLocalDateFormat(DateTime? date)
    {
        string output = "";
        if (date != null)
        {
            if (date.Value.Hour > 0 && date.Value.Minute > 0)
                output = date.Value.ToString("dd/MM/yyyy hh:mm:ss tt");
            else
                output = date.Value.ToString("dd/MM/yyyy");
        }

        return output;
    }
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Nisan</legend>
        @Html.Partial("_ActionButtons")

        @Html.HiddenFor(model => model.Id)

        <div class="group">
        <div class="editor-label">
            @Html.LabelFor(model => model.StatusId)
        </div>
        <div class="editor-field">
            @if(isCustomer) {
                @Html.DisplayFor(model => model.Status.Name)
                @Html.HiddenFor(model => model.StatusId)
            } else {
                @Html.DropDownList("StatusId", String.Empty)
            }
            @Html.ValidationMessageFor(model => model.StatusId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastUpdated)
        </div>
        <div class="editor-field">
            <span id="LastUpdated">@Model.LastUpdated</span>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Creator)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Creator.DisplayName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Created)
        </div>
        <div class="editor-field">
            <span id="Created">@Model.Created</span>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AssigneeId)
        </div>
        <div class="editor-field">
            @if(isCustomer) {
                @Html.DisplayFor(model => model.Assignee.DisplayName)
            } else {
                @Html.DropDownList("AssigneeId", String.Empty)
            }
            @Html.ValidationMessageFor(model => model.AssigneeId)
        </div>
        </div>

        <div class="editor-label @visibility">
            @Html.LabelFor(model => model.SoldToId)
        </div>
        <div class="editor-field @visibility">
            @Html.DisplayFor(model => model.SoldTo.DisplayName)
            @Html.HiddenFor(model => model.SoldToId)
            @Html.ValidationMessageFor(model => model.SoldToId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StockId, new { id="stock-label"})
        </div>
        <div class="editor-field">
            @Html.DropDownList("StockId", String.Empty)
            @Html.ValidationMessageFor(model => model.StockId)
        </div>

        @{
            if(isAdmin)
            {
                <div class="editor-label">
                    @Html.LabelFor(model => model.Price)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Price, new { @Value = String.Format("{0:############.00}", Model.Price), @class="readonly", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            }
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.Rumi)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Rumi, new { @class="readonly", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Rumi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Jawi)
        </div>
        <div class="editor-field">
            <!-- source http://www.ajaxblender.com/jquery-virtual-keyboard.html -->
            @Html.TextBoxFor(model => model.Jawi, new { @class="keyboardInput readonly", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Jawi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Death)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Death, new {@class="readonly", @readonly = "readonly"})
            @Html.ValidationMessageFor(model => model.Death)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Deathm)
        </div>
        <div class="editor-field">
            <input id="MuslimDay" type="text" name="MuslimDay" class="readonly" readonly="readonly" />
            @Html.DropDownList("MuslimMonth")
            <input id="MuslimYear" type="text" name="MuslimYear" class="readonly" readonly="readonly" />
            @Html.HiddenFor(model => model.Deathm)
            @Html.ValidationMessageFor(model => model.Deathm)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Remarks, new {@class="readonly", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

        @Html.HiddenFor(model => model.WorkItemId)
        @Html.Partial("_EditButtons")
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@if(!isCustomer)
{
<div style="margin-top:10px;">
    <a href='../Svg/@Model.Id' title='Generate svg'><img src='/Images/inkscape.png' height="24" width="24" /></a>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
