@model HLGranite.Mvc.Models.Nisan

@{
    ViewBag.Title = "Edit";
    
    HLGranite.Mvc.Models.hlgraniteEntities db = new HLGranite.Mvc.Models.hlgraniteEntities();
    HLGranite.Mvc.Models.User user = db.Users.Where(u => u.UserName.Equals(User.Identity.Name)).FirstOrDefault();
    bool isAdmin = false;
    if (user != null)
    {
        isAdmin = user.IsAdmin;
    }
}

@Scripts.Render("~/Scripts/jquery-1.8.2.min.js")
<script>
    $(function () {
        $("#StockId").change(function () {
            var stockId = $(this).val();
            $.ajax({
                type: "GET",
                url: "/../Stock/Edit/" + stockId,
                content: document.body,
                success: function (data) {
                    var price = $("#Price", data).val();
                    $("#Price").val(price);
                }
            });
        });
    });
</script>

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Nisan</legend>

        @Html.HiddenFor(model => model.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.StatusId, "Status")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StatusId", String.Empty)
            @Html.ValidationMessageFor(model => model.StatusId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AssigneeId, "Assignee")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AssigneeId", String.Empty)
            @Html.ValidationMessageFor(model => model.AssigneeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoldToId, "SoldTo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SoldToId", String.Empty)
            @Html.ValidationMessageFor(model => model.SoldToId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StockId, "Stock")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StockId", String.Empty)
            @Html.ValidationMessageFor(model => model.StockId)
        </div>

        @{
            if(isAdmin)
            {
                <div class="editor-label">
                    @Html.LabelFor(model => model.Price)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Price, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            }
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.Rumi)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Rumi, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Rumi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Jawi)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Jawi, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Jawi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Death)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Death, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Death)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Deathm)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Deathm, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Deathm)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Remarks, new {@readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

        @Html.HiddenFor(model => model.WorkItemId)

        @Html.Partial("_ButtonPartial")
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
