@model HLGranite.Mvc.Models.Nisan

@{
    ViewBag.Title = "Edit";
    
    HLGranite.Mvc.Models.hlgraniteEntities db = new HLGranite.Mvc.Models.hlgraniteEntities();
    HLGranite.Mvc.Models.User user = db.Users.Where(u => u.UserName.Equals(User.Identity.Name)).FirstOrDefault();
    bool isAdmin = false;
    if (user != null)
    {
        isAdmin = user.IsAdmin;
    }
}

@Styles.Render("~/Content/themes/base/jquery-ui.css")
@Scripts.Render("~/Scripts/jquery-2.0.3.min.js")
@Scripts.Render("~/Scripts/jquery-ui-1.10.3.min.js")
<script>

    function displayMuslimDate(muslim) {
        var splits = muslim.split('/');
        if (splits.length >= 3) {
            $("#MuslimDay").val(splits[1]);
            $("#MuslimMonth option").each(function (i, option) {
                if (i == splits[0]) {
                    $(option).attr("selected", "selected");
                    return;
                }
            });
            $("#MuslimYear").val(splits[2]);
        }
    }

    function setMuslimDate(day, month, year) {
        if (day == null || month == null || year == null) {
            $("#Deathm").val("");
            return;
        }

        var splits = $("#Deathm").val().split('/');
        if (day > 0) splits[1] = append(day, 2, "0");
        if (month > 0) splits[0] = append(month, 2, "0");
        if (year > 0) splits[2] = year;
        $("#Deathm").val(splits[0] + "/" + splits[1] + "/" + splits[2]);
    }

    $(function () {

        $("#Created").html(afterLocalTime($("#Created").html()));

        $("#Death").datepicker({ dateFormat: "dd/mm/yy" });
        $("#DeathDP").datepicker({ dateFormat: "dd/mm/yy" });
        $("#DeathDP").change(function () {
            $("#Death").val(toUSDate($(this).val()));

            $.ajax({
                type: "POST",
                url: "/Nisan/Calendar",
                data: { 'date': $("#Death").val() },
                content: document.body,
                success: function (data) {
                    var muslim = $("#Muslim", data).val();
                    $("#Deathm").val(muslim);
                    displayMuslimDate(muslim);
                }
            });
        });

        displayMuslimDate($("#Deathm").val());
        $("#MuslimDay").change(function () {
            setMuslimDate($(this).val(), 0, 0);
        });
        $("#MuslimMonth").change(function () {
            setMuslimDate(0, $(this).val(), 0);
        });
        $("#MuslimYear").change(function () {
            setMuslimDate(0, 0, $(this).val());
        });

        //$("#DeathDP").enabled = false;
        //$("#DeathDP").disabled = true;
        //$("#StockId").enabled = false;
        //$("#StockId").disabled = true;

        $("#StockId").change(function () {
            var stockId = $(this).val();
            $.ajax({
                type: "GET",
                url: "/../Stock/Edit/" + stockId,
                content: document.body,
                success: function (data) {
                    var price = $("#Price", data).val();
                    $("#Price").val(price);
                }
            });
        });
    });
</script>

<h2>Edit</h2>

@functions{
    public string toLocalDateFormat(DateTime? date)
    {
        string output = "";
        if (date != null)
        {
            if (date.Value.Hour > 0 && date.Value.Minute > 0)
                output = date.Value.ToString("dd/MM/yyyy hh:mm:ss tt");
            else
                output = date.Value.ToString("dd/MM/yyyy");
        }

        return output;
    }
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Nisan</legend>

        @Html.HiddenFor(model => model.Id)
        <div class="group">
            <div class="editor-label">
                @Html.LabelFor(model => model.StatusId, "Status")
            </div>
            <div class="editor-field">
                @Html.DropDownList("StatusId", String.Empty)
                @Html.ValidationMessageFor(model => model.StatusId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Creator, "Creator")
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Creator.DisplayName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Creator, "Created")
            </div>
            <div class="editor-field">
                <span id="Created">@Model.Created</span>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.AssigneeId, "Assignee")
            </div>
            <div class="editor-field">
                @Html.DropDownList("AssigneeId", String.Empty)
                @Html.ValidationMessageFor(model => model.AssigneeId)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoldToId, "SoldTo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SoldToId", String.Empty)
            @Html.ValidationMessageFor(model => model.SoldToId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StockId, "Stock")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StockId", String.Empty)
            @Html.ValidationMessageFor(model => model.StockId)
        </div>

        @{
            if(isAdmin)
            {
                <div class="editor-label">
                    @Html.LabelFor(model => model.Price)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Price, new { @Value = String.Format("{0:"+HLGranite.Mvc.MvcApplication.MONEY_FORMAT+"}", Model.Price), @class="readonly", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            }
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.Rumi)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Rumi, new { @class="readonly", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Rumi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Jawi)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Jawi, new { @class="readonly", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Jawi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Death)
        </div>
        <div class="editor-field">
            @Html.TextBox("DeathDP", @toLocalDateFormat(Model.Death), new {@class="readonly", @readonly = "readonly"})
            @Html.HiddenFor(model => model.Death)
            @Html.ValidationMessageFor(model => model.Death)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Deathm)
        </div>
        <div class="editor-field">
            <input id="MuslimDay" type="text" name="MuslimDay" class="readonly" readonly="readonly" />
            @Html.DropDownList("MuslimMonth")
            <input id="MuslimYear" type="text" name="MuslimYear" class="readonly" readonly="readonly" />
            @Html.HiddenFor(model => model.Deathm)
            @Html.ValidationMessageFor(model => model.Deathm)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Remarks, new {@class="readonly", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

        @Html.HiddenFor(model => model.WorkItemId)

        @Html.Partial("_ButtonPartial")
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
