@model IEnumerable<HLGranite.Mvc.Models.Nisan>

@{
    ViewBag.Title = "Index";

    HLGranite.Mvc.Models.hlgraniteEntities db = new HLGranite.Mvc.Models.hlgraniteEntities();
    HLGranite.Mvc.Models.User user = db.Users.Where(u => u.UserName.Equals(User.Identity.Name)).FirstOrDefault();
    bool isCustomer = true; // default is true
    if (user != null)
    {
        isCustomer = user.IsCustomer;
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm()) {
    <p>
        @{
            if (!isCustomer)
            {
                @Html.DropDownList("SoldTo", "All Customer")
            }
        }
        @Html.DropDownList("Status")
        @Html.TextBox("SearchString") <input type="submit" class="search" value="" />
    </p>
}

@{
    var grid = new WebGrid(source: Model, rowsPerPage: 15);
}

@functions{
    public string toLower(string sender)
    {
        return sender.ToLower();
    }
    
    public string toLocalDate(DateTime? date)
    {
        string output = "";
        if (date != null)
        {
            if(date.Value.Hour > 0 && date.Value.Minute > 0)
                output = date.Value.ToString("dd/MM/yyyy hh:mm:ss tt");
            else
                output = date.Value.ToString("dd/MM/yyyy");
        }

        return output;
    }
}

<div>Total @Model.Count() found</div>
<div id="grid">
    @grid.GetHtml(
        htmlAttributes: new {id = "nisan_table"},
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("Status.Name","Status", format: @<text><span class="status @toLower(item.Status.Name)">@item.Status.Name</span></text>),
            grid.Column("SoldTo.DisplayName","To"),
            grid.Column("Stock.Name", "Batu"),
            grid.Column("Rumi", "Name", format: @<text><a href="@Href("~/Nisan/Edit/" + item.Id)">@item</a></text>),
            grid.Column("Created", "Created"),
            grid.Column("LastUpdated", "LastUpdated"),
            grid.Column("Assignee","Assignee")
        )
    )
    @*grid.Column("Jawi", "Jawi")*@
    @*grid.Column("Remarks","Remarks")*@
    @*grid.Column("Created", "Created")*@
    @*grid.Column("Death", "Death", format: @<text>@toLocalDate(item.Death)</text>)*@
    @*grid.Column("Deathm", "Muslim", format: @<text>@toLocalDate(item.Deathm)</text>)*@
    @*grid.Column("", "", style: "delete", format: @<text>@Html.ActionLink("Delete" , "Delete", new {id=item.Id })</text>) *@
</div>
