@model IEnumerable<HLGranite.Mvc.Models.Nisan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{
    var grid = new WebGrid(source: Model, rowsPerPage: 30);
}

<div id="grid">
    @grid.GetHtml(
        htmlAttributes: new {id = "nisan_table"},
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("Status.Name","Status"),
            grid.Column("SoldTo.DisplayName","To"),
            grid.Column("Rumi", "Name", format: @<text><a href="@Href("~/Nisan/Edit/" + item.Id)">@item.Rumi</a></text>),
            grid.Column("Jawi", "Jawi"),
            grid.Column("Death", "Death"),
            grid.Column("Deathm", "Deathm"),
            grid.Column("Remarks","Remarks"),
            grid.Column("Assignee","Assignee"),
            grid.Column("", "", style: "delete", format: @<text>@Html.ActionLink("Delete" , "Delete", new {id=item.Id })</text>)
        )
    )
</div>
