@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@{
    HLGranite.Mvc.Models.hlgraniteEntities db = new HLGranite.Mvc.Models.hlgraniteEntities();
    HLGranite.Mvc.Models.User company = db.Users.Where(u => u.UserTypeId == HLGranite.Mvc.Models.User.ADMIN_TYPE_ID).First();
}

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>@company.Telephone</span>
    </p>
    <p>
        <span class="label">Mobile:</span>
        <span>@company.Mobile</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:@company.Email">@company.Email</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        @company.Street1<br />
        @company.Street2<br />
        @company.Postcode @company.City<br />
        @company.State, @company.Country
    </p>
</section>