@model HLGranite.Mvc.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Activity</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkItem.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkItem.Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
