@model HLGranite.Mvc.Models.Stock

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@Scripts.Render("~/Scripts/jquery-2.0.3.min.js")
<script>
    $(function () {
        $("#edit").click(function () {
            $(this).css("background", "#ccc");
            enableAll();
        });
    });
</script>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Stock</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.StockTypeId, "StockType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StockTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.StockTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @class="readonly", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Code, new { @class="readonly", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Image, new { @class="readonly", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Image)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price, new { @Value = String.Format("{0:"+HLGranite.Mvc.MvcApplication.MONEY_FORMAT+"}", Model.Price), @class="readonly", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Remarks)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Remarks, new { @class="readonly", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.Active, new { @class="readonly", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Active)
        </div>

        <p>
            <input id="edit" type="button" value="Edit" />
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
