@model IEnumerable<HLGranite.Mvc.Models.Stock>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    HLGranite.Mvc.Models.hlgraniteEntities db = new HLGranite.Mvc.Models.hlgraniteEntities();
    HLGranite.Mvc.Models.User user = db.Users.Where(u => u.UserName.Equals(User.Identity.Name)).FirstOrDefault();
    bool isAdmin = false;
    if (user != null)
    {
        isAdmin = user.IsAdmin;
    }
            
    if (isAdmin)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}
@{
    var grid = new WebGrid(source: Model, rowsPerPage: 30);
}

<div id="grid">
    @grid.GetHtml(
        htmlAttributes: new {id = "stock_table"},
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("StockType.Type","Type"),
            grid.Column("Name","Name", format: @<text><a href="@Href("~/Stock/Edit/" + item.Id)">@item.Name</a></text>),
            grid.Column("Code","Code"),
            grid.Column("Price","Price"),
            grid.Column("Remarks","Remarks"),
            grid.Column("Active","Active"),
            grid.Column("", "", style: "delete", format: @<text>@Html.ActionLink("Delete" , "Delete", new {id=item.Id })</text>)
        )
    )
</div>